.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 1s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger-button {
    margin-top: 20px;
    margin-left: 20px;
    background: none;
    /*border: none;*/
    outline: none;
}

[hamburger-item="list"] {
    color: white;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0px;
    transition: all 1s ease-in-out;
}

.endText {
    color: white;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.drop-down-menu {
    width: 35px;
    height: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -47px;
    margin-left: 20px;
    background-color: black;
    transition: all 1s ease-in-out;
    
}

.end {
    transform: translate(0px, 0px);
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    background-color: black;
}